<h2 mat-dialog-title>{{ data ? 'Editar Categoría' : 'Nueva Categoría' }}</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="dialog-form">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" placeholder="Nombre de la categoría">
      <mat-error *ngIf="form.get('name')?.hasError('required')">Campo requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripción</mat-label>
      <input matInput formControlName="description" placeholder="Descripción">
      <mat-error *ngIf="form.get('description')?.hasError('required')">Campo requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="state">
        <mat-option [value]="1">Activo</mat-option>
        <mat-option [value]="0">Inactivo</mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="save()" [disabled]="form.invalid">
    {{ data ? 'Actualizar' : 'Registrar' }}
  </button>
</mat-dialog-actions>